<%- include("partials/header") %>

<div class="container mt-5">
  <div class="row">
    <!-- Book Cover -->
    <div class="col-md-3 text-center">
        <img src="" class="img-fluid rounded shadow book-img" alt="Reader">
    </div>

    <!-- Book Info -->
    <div class="col-md-9">
      <h3>Name:</h3>
      <hr>
      <h5>About me</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ligula diam, tristique sed magna sit amet, lobortis consequat leo. Nam libero neque, bibendum non porta vitae, mattis sed dui. Donec pellentesque nulla vel sem consequat, in condimentum purus sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam interdum, augue id iaculis commodo, quam magna molestie nibh, a mollis sem libero non mi. Fusce quis libero ipsum. Nullam ultricies mi nec pretium feugiat. Sed at odio pharetra, porttitor est auctor, blandit mauris. Aenean feugiat eleifend ullamcorper. Cras vitae risus ultrices, ultrices nisl vel, volutpat augue. Donec nec velit malesuada, fringilla enim a, ultricies ipsum. Suspendisse sed dui nisi. Aenean vehicula massa ut ligula suscipit malesuada.

        Etiam venenatis libero a ante imperdiet tristique. Sed ac neque et est scelerisque luctus. Praesent ac enim mauris. Praesent nec erat   consectetur, dictum nunc at, accumsan urna. Donec consectetur libero vitae arcu dignissim dignissim. Nullam ornare tellus nulla, id auctor erat dictum nec. Proin laoreet, urna eget posuere varius, justo nibh gravida nisi, at mattis quam tortor a tortor. Etiam non interdum mi. Praesent tincidunt quis orci a suscipit. Integer finibus a elit vel consequat.

        Duis volutpat ante at elit posuere, eu bibendum mi pulvinar. Vivamus ornare leo ac suscipit hendrerit. Mauris in elementum nibh. In sodales volutpat tempus. Nullam faucibus luctus libero. Suspendisse mauris massa, blandit ut consectetur ut, rutrum ut tortor. Duis tempor euismod porttitor. Aliquam ornare ante non augue vulputate blandit. Nunc lorem mauris, sagittis a ex a, hendrerit lobortis est. Nullam vitae lobortis ante. Fusce massa dolor, tincidunt vitae elementum vitae, placerat nec massa. Phasellus sollicitudin est vitae dolor rhoncus, eget interdum neque tincidunt. Aliquam eleifend fringilla urna, ut dignissim lorem vestibulum nec. Mauris facilisis ullamcorper purus, sed venenatis arcu ultrices sed. Vivamus eu dignissim erat. Aenean vitae molestie erat, at sollicitudin mauris.

        Nam at arcu vehicula, semper massa ac, dapibus velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris at turpis sed orci varius maximus. Etiam est justo, efficitur non lacus ac, commodo egestas nisi. Morbi pellentesque convallis neque hendrerit pharetra. Donec condimentum cursus arcu ac aliquet. Pellentesque porttitor mi enim, id lacinia lacus rhoncus nec. Nullam euismod, nisi a hendrerit dignissim, libero elit pharetra nunc, sit amet tempus ipsum risus eu nibh.

        Aliquam quis porttitor ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis eget lorem lectus. Fusce placerat lobortis arcu at ullamcorper. Vivamus sem nibh, pharetra ut mauris nec, pretium congue elit. Vestibulum pellentesque, risus at tristique faucibus, odio est interdum dolor, id congue augue augue ut eros. Aenean bibendum neque vitae fermentum porta. Cras vestibulum sem a erat rhoncus, a bibendum erat vulputate. Fusce libero orci, placerat vitae nulla nec, congue dignissim dui. Phasellus et elit sed quam sollicitudin dignissim quis non mauris. Vestibulum bibendum tempus sapien a vestibulum. Vestibulum tempor sagittis mi at sollicitudin. Vivamus luctus tortor non interdum pretium. Donec ullamcorper velit pretium, vulputate risus ut, rhoncus velit. Vestibulum sapien nisl, auctor ornare mi at, sodales suscipit enim. Phasellus vehicula urna vitae pulvinar fringilla.
        </p>
    </div>
  </div>
</div>

<%- include("partials/footer") %>