body {
  background-color:rgb(202, 244, 255);
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

footer {
  font-size: 0.9rem;
}

/* Enable submenu positioning */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none;
    position: absolute;
}

/* Show the submenu on hover */
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.book-img {
  max-height: 200px;
  object-fit: contain;
}

.author-img {
  max-height: 120px;
  width: 120px;
  object-fit: cover;
  margin-top: 10px;
}
